.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-family: var(--font-open-sans), 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--input-label-color);
}

.required {
  color: var(--input-error-color);
  margin-left: 2px;
}

.errorMessage {
  font-family: var(--font-open-sans), 'Open Sans', sans-serif;
  font-size: 12px;
  color: var(--input-error-color);
}

.infoMessage {
  font-family: var(--font-open-sans), 'Open Sans', sans-serif;
  font-size: 12px;
  color: var(--input-label-color);
}

