.nav {
  width: 100%;
  max-width: 100%;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--nav-border);
  gap: 1rem;
  padding: 0 1rem;
  overflow-x: hidden;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

 
