.tasksList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.error {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.noTasks {
  color: var(--no-tasks-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;   
  margin: 1rem 0;
}